@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white
}

.sedans,
.suv,
.luxury {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
}

.sedans {
    background: hsl(31, 77%, 52%);
}

.suv {
    background: hsl(184, 100%, 22%);
}

.luxury {
    background: hsl(179, 100%, 13%);
}

.title {
    font-size: 33px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.icons {
    width: 65px;
}

.description {
    font-size: 15px;
    width: 210px;
}

.more {
    width: 150px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 50px;
    margin-top: 47px;
    cursor: pointer;
}

.more-sedans {
    color: hsl(31, 77%, 52%);
}

.more-suv {
    color: hsl(184, 100%, 22%);
}

.more-luxury {
    color: hsl(179, 100%, 13%);
}
.horizontal{
    background: hsl(31, 77%, 52%);
    height:100%;
    color: black;
    writing-mode: vertical-rl;
    text-orientation:upright;
}